/*-------------------------VARIÁVEIS-------------------------*/
:root{
	--primeira: #232220;
	--segunda: #3d3b3e; 
	--terceira: #ffffff;
	--quarta: #817c79;
	--quinta: #5b524d;
}

/*-------------------------CORPO DO SITE-------------------------*/

body{
	background-color:var(--primeira);
	font-size:1.2em;
	font-family: 'Noto Sans', sans-serif;
}

/*-------------------------HEADER-------------------------*/

header{width:100%;margin: 0 auto;}

header .logo{display:flex; margin:1em auto;justify-content: center;}

nav {display:flex;margin:1em auto; justify-content: center; background-color:var(--segunda);}

nav li{display:inline-block; padding: 1em 4em;}

nav li a{font-size:1.1em; color:var(--terceira);text-decoration: none;padding:0.7em;}

nav li a:hover{font-size:1.1em; color:var(--terceira);text-decoration: none; background-color: var(--quarta);padding:0.7em;border-bottom: 0.3em solid var(--segunda);}

/*-------------------------BANNER-------------------------*/

.banner{width:100%;height:420px;margin-top:-0.9em;background-image: url('../img/banner.png');background-size: 100%;background-repeat: no-repeat;}

.banner h2{font-size:2em; color:var(--quarta);padding:2em;text-align: center;text-transform: uppercase;}

.banner p{width:70%; text-align: center;line-height: 1.5em; color:var(--quarta); padding-left:1em}

.banner strong{font-weight: 700;color:var(--terceira);letter-spacing: 0.2em;}

.banner button{width:20%; height:12%; background-color: #314d82;border:none; font-size: 1.2em;color:var(--terceira);margin:4% 30%;cursor:pointer;border-radius:0.7em;}

/*-------------------------SOCIAL------------------------*/

.social{display:flex;justify-content:center;width:90%;margin:0.5em auto;background-color:var(--quinta);}

.social1{width: 100%;margin-left:2.6em;}

.social1 img{margin-left:3em;}

.social1 h2{text-align:center;color:var(--terceira);margin:1em;font-size: 2em;}

/*-------------------------CASUAL------------------------*/

.casual{display:flex;justify-content:center;width:90%;margin:-0.7em auto;background-color:var(--segunda);}

.casual1 img{padding-left:7em;border-radius:8em 8em 0 0 ;}

.casual1 h2{text-align:center;color:var(--terceira);margin:1em;font-size: 2em}

.casual1 p{color:var(--quarta);font-size: 1.5em;line-height: 1.5em;margin-left:2.5em;}

.casual button{width:25%; height:10%; background-color: #314d82;border:none; font-size: 1.2em;color:var(--terceira);cursor:pointer;border-radius:0.5em;margin:5em 8em;}


/*-------------------------SPORT------------------------*/

.sport{display:flex;justify-content:center;width:90%;margin:0.7em auto;background-color:var(--quarta);}

.sport1{margin-left:1em;}

.sport1 img{padding-left:4em;}

.sport1 h2{text-align:center;color:var(--terceira);margin:1em;font-size: 2em;}

.sport1 button{width:18%; height:10%; background-color: #314d82;border:none; font-size: 1.2em;color:var(--terceira);cursor:pointer;border-radius:0.5em;margin:2.8% 40%;}


/*-------------------------CONTATO------------------------*/

.contato{width:100%;height:21em;background-color:var(--quinta);margin-top:-0.7em;}

.contato h2{text-align:center;color:var(--terceira);padding-top:0.5em;font-size: 2em;}

.contato form{margin:2em 23em;}

.contato form input{width:34.7em; height:2.5em;}

.contato form input[type='submit']{width:14em; height:2em;background-color:#314d82;border:none;color:var(--terceira);font-size: 1em;}

.contato form textarea {font-family: 'Noto Sans', sans-serif;}

/*-------------------------FOOTER------------------------*/

footer{display:flex;justify-content: center;width:100%;background-color:var(--primeiro);}

footer .fmenu{width:40%;padding:2em;text-align: center;}

footer .fmenu h3{font-size: 1em;margin-bottom: 1em; color:var(--quinta);}

footer .fmenu li{margin-bottom:0.4em;}

footer .fmenu a{color:var(--terceira);text-decoration: none;font-size: 0.8em}

/*-------------------------ADDRESS------------------------*/

address{font-size:0.8em;padding:1em;background-color:var(--quarta);text-align: center;}

address i{color:var(--terceira);font-size: 1.2em}